<h2>Yet another chat example</h2>

<div id="login" class="row">
  <div class="col s12">
    <%= form_tag '/login', remote: true do %>
      <div class="input-field">
        <%= label_tag :username %>
        <%= text_field_tag :username %>
      </div>
      <%= submit_tag 'Login', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div id="chat" class="row" style="display: none;">
  <div id="users" class="col s2 green lighten-5">
  </div>

  <div class="col s10">
    <div id="messages">
      <% if @messages.present? %>
        <% @messages.each do |message| %>
          <p><b>User: </b><%= message.content %></p>
        <% end %>
      <% end %>
    </div>
    <%= form_tag '/message', id: 'chat_form', remote: true do %>
      <div class="input-field">
        <%= text_area_tag :content %>
      </div>
      <%= submit_tag 'Send', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
